/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

#admin-bar {
	background-color: black;
	color: white;
	display: flex;
	padding: 15px;
	justify-content: center;
	align-items: center;
	gap: 1vh;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	display: none;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters {
	font-family: 'Syne';
	display: flex;
  	justify-content: center;
  	margin: 40px 0;
}

.filters button {
	font-family: "Syne";
	padding: 6px 25px;
	margin: 0 15px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	color: #1D6154;
	background-color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
  }

.filters button:focus {
	color: white;
	background-color: #1D6154;
  }

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact, #login {
	width: 50%;
	margin: auto;
}

#contact, #login > * {
	text-align: center;
}

#contact h2, #login h2 {
	margin-bottom: 20px;
}

#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input:not([type="submit"]), #login input:not([type="submit"]), .add-works-modal #title, #category {
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 10px;
	box-sizing: border-box;
}

#contact label, #login label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 10px;
	box-sizing: border-box;
}

#login a {
	text-decoration: underline;
	color: black;
}

a:visited {
	color: black;
}

a {
	text-decoration: none;
}

#login input[type="submit"] {
	padding: 10px;
}

#login {
	margin-top: 50px;
	margin-bottom: 50px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Modal */

.modal-container {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
}

.modal {
	background-color: white;
	width: 600px;
	height: auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	position: relative;
}

.add-works-modal {
	background-color: white;
	width: 600px;
	height: auto;
	border-radius: 5px;
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	position: relative;
}

.modal h3,
.add-works-modal h3 {
	font-size: 25px;
    margin: 20px;
}

.fa-xmark {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.fa-arrow-left {
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80%;
	width: 80%;
	gap: 10px;
}

.file-content {
	background-color: #e8f1f6;
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	padding: 20px;
	gap: 10px;
}

.file-content::after {
    content: '';
    display: block;
    width: 400px;
    height: 1px;
    background-color: rgb(184, 184, 184);
    position: absolute;
    bottom: 105px;
    left: 20%;
}

.file-content label {
	background-color: #cbd6dc;
	color: #306685;
	border-radius: 15px;
	padding: 8px 25px;
	cursor: pointer;
	font-size: 1rem;
}

.file-content input {
	display: none;
}

.fa-image {
	font-size: 4rem;
	color: #b9c5cc;
}

.file-content img {
	display: none;
	max-width: 100%;
	height: 100%;
}

.file-content p {
	color: #58595a;
}

.add-works-modal button {
	font-family: "Syne";
	padding: 6px 25px;
	margin: 30px 0;
	border: 1px solid #a7a7a7;
	border-radius: 25px;
	color: white;
	background-color: #a7a7a7;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
	width: 200px;
    align-self: center;
}
.valid {
	font-family: "Syne";
	padding: 6px 25px;
	margin: 30px 0;
	border: 1px solid #1D6154;
	border-radius: 25px;
	color: white;
	background-color: #1D6154;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
}

.add-works-modal button:focus {
	background-color: white;
	color: #1D6154;
	font-size: 14px;
}

.modal button {
	font-family: "Syne";
	padding: 6px 25px;
	margin: 30px 0;
	border: 1px solid #1D6154;
	border-radius: 25px;
	color: white;
	background-color: #1D6154;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
}

.modal button:focus {
	background-color: white;
	color: #1D6154;
	font-size: 14px;
}

.gallery-figure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 10px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.gallery-figure::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(184, 184, 184);
    position: absolute;
    bottom: -25px;
    left: 0;
}

.gallery-figure figure {
	height: 100px;
	position: relative;
	margin: 0;
}

.gallery-figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-figure span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	height: 18px;
	width: 18px;
	border-radius: 2px;
}

.gallery-figure .fa-trash-can {
	color: white;
	font-size: 0.6rem;
	cursor: pointer;
}